<!DOCTYPE html>
<html lang="es-mx">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/029bdfdee7.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=K2D' rel='stylesheet'>
        <title>Cuidadi</title>
    </head>
    <style>
        body {
        font-family: 'K2D';font-size: 22px;
    }
    /*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
    .btn-primary {
        color: black;
        background-color:#fff;
        border-color: #fff; /*set the color you want here*/
    }
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
        color: black;
        background-color: #00CBA9;
        border-color: #00CBA9; /*set the color you want here*/
    }
    
    </style>
<body>
    <div class="container-fluid ps-0 pe-0" style="height: 100vh;">
        <div class="container-fluid position-fixed navigation" style="height: 10%; background-color: #fff;">
            <div class="row pt-3">
                <div class="col-6 text-start ">
                    <i class="fa-solid fa-heart-pulse fa-2xl pe-0" style="color: #00CBA9;"></i>
                    <i class="fa-solid fa-slash fa-rotate-by fa-lg" style="color: #00CBA9; --fa-rotate-angle: 51.5deg;"></i>
                    DiaGnosis
                </div>
                <div class="col text-end">
                    <a class="btn btn-primary" href="frontPage.html" role="button">Inicio</a>
                    <a class="btn btn-primary" href="frontPage.html#funciona" role="button">¿Cómo funciona?</a>
                    <a class="btn btn-primary" href="formulario.html" role="button">Prueba</a>
                    <a class="btn btn-primary" href="#" role="button">Directorio</a>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="inicio" style="height: 10%;">

        </div>
        <div class="d-flex align-content-around flex-wrap justify-content-center" style="height:15%; width: 100%; background-color:#00CBA9; text-align: center;">
            <h1 style="color: white;">
                Continua cuidando tu salud
            </h1>
        </div>
        <div class="container-fluid" style="height: 20%; width: 50%;">
            <div class="d-flex justify-content-center pt-4 pb-4" style="height: 100%; text-align: center;">
                <p class="h5">Aún podrías padecer diabetes, recuerda que esta prueba tiene un %0.81 de exactitud. Puedes encontrar más información en los detalles del resultado.</p>
            </div>
        </div>
        <div class="container-fluid" style="height: 40%; ;">
            <div class="row">
                <div class="col-1">

                </div>
                <div class="col-6" style="text-align: left;">
                    <h3 class="mb-5">¿Cuáles son los síntomas de la diabetes tipo 2?</h3>
                    <p class="h6">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nibh venenatis cras sed felis. Odio facilisis mauris sit amet massa. Non sodales neque sodales ut etiam sit amet nisl purus. 

Molestie ac feugiat sed lectus. Morbi tristique senectus et netus et malesuada fames ac turpis. Mattis nunc sed blandit libero. 
                    </p>
                </div>
            </div>
        </div>

        <div class="mb-4 d-flex align-content-around flex-wrap justify-content-center" style="height:10%; width: 100%; text-align: center;">
            <h3 style="color: black;">
                Detalles del resultado
            </h3>
        </div>

        <div class="container-fluid mb-5" style="width: 100%; height: 55%;">
            <div class="row" style="height: 100%; width: 100%;">
                <div class="col-1">

                </div>
                <div class="col-5">
                    <div class="col pe-0" style="height: 100%;">
                        <img src="static/cuadro.png" width="70%" height="70%" alt="..." class="img-thumbnail">
                    </div>
                </div>
                <div class="col-6 pt-5" style="text-align: left;">
                    <p class="h6">Para el desarrollo de esta herramienta se utilizó la información médica de multiples individuos, datos los cuales se probaron a través de diferentes modelos de aprendizaje, entre los cuales se determino el modelo de regresión logistica como el mejor modelo para predecir un padecimiento de diabetes.
                        
                        Los resultados obtenidos con el modelo se muestran a continuación:
                        Accuracy promedio: 0.8116883116883117
                        f1 promedio: 0.7643893431812188
                        Recall promedio: 0.7511433684629151
                        precision promedio: 0.786524500907441 </p>
                </div>
            </div>
        </div>

        <div class="container-fluid" style="width: 100%; height: 55%;">
            <div class="row" style="height: 100%; width: 100%;">
                <div class="col-1">

                </div>
                <div class="col-5 pt-5" style="text-align: left;">
                    <p class="h6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nibh venenatis cras sed felis. Odio facilisis mauris sit amet massa. Non sodales neque sodales ut etiam sit amet nisl purus. 

                        Molestie ac feugiat sed lectus. Morbi tristique senectus et netus et malesuada fames ac turpis. Mattis nunc sed blandit libero. </p>
                </div>
                <div class="col-6">
                    <div class="col pe-0" style="height: 100%;">
                        <img src="static/kmeans.png" width="70%" height="70%" alt="..." class="img-thumbnail">
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</body>
</html>